body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hs-container {
    width: 90%;
    background-color: lightgrey;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}